@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Josh Comeau's CSS reset
https://www.joshwcomeau.com/css/custom-css-reset/  */


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}

/* ----------------------------- */

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100svh;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 5fr;
    height: 100%;
    grid-template-areas: 
        'sidebar main';
}

.sidebar {
    background-color: hsl(201, 78%, 46%);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 4rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 600;
}

.sidebar img {
    height: 30px;
    width: 30px;
    align-self: center;
    filter: invert(100%);
}

.section-one,
.section-two,
.section-three {
    display: grid;
    gap: 1rem;
}

.section-two,
.section-three {
    padding: 0 0 0 1.5rem;
}

.section-one {
    padding: 0.8rem 0 0 1rem;
    margin: 0 4rem 0 0;
}

.section-one img {
    height: 50px;
    width: 50px;
}

.sidebar a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.section-one > a,
.section-two > a,
.section-three > a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.section-one > a {
    gap: 1rem;
    font-size: 2rem;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        'header'
        'content';
    min-height: 100%;
}

.header {
    background-color: hsl(0, 0%, 100%);
    grid-area: header;
}

.content {
    background-color: hsl(214, 32%, 91%);
    grid-area: content;
}
